
@{
    ViewBag.Title = "Error " + Response.StatusCode;
}
<article>
    @if (Response.StatusCode == (int)HttpStatusCode.OK)
    {
    <h2><strike>Error!</strike> ...not</h2>
    }
    else
    {
    <h2>Error!</h2>
    }
    <h3></h3>

    <div class="columns">
        <div class="half">
            <div class="image" title="Error">
                <div id="event-image-container" class="unselectable pointer">
                    <div id="event-image-error">
                        <p>&xotime;</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="half">
            <h3>@(Response.StatusCode + " - " + Response.StatusDescription)</h3>
            <p>@(ViewBag.Message)</p>
        </div>
    </div>
</article>

