#logo {
    display: inline-block;
    font-family: 'Manteka';
    font-size: 225%;
    text-align: center;
    font-weight: bold;
}

#menu {
    float: right;
    display: block;
    text-align: center;
    font-size: 100%;
    width: 70%;
    border-bottom: none;
}

#menu ul {
    display: flex;
}

#menu ul li {
    display: inline-block;
    width: 25%;
}

.nav-text, .nav-active {
    height: inherit;
    display: block;
    color: rgb(32, 32, 32);
    text-decoration: none;
    transition: background 0.2s ease, color 0.2s ease;
}

.nav-text:hover, .nav-text:focus {
    background: lightgray;
    outline: none;
}

.nav-text:active, .nav-active {
    color: dimgray;
    background: rgb(32, 32, 32);
}


@media (max-width : 720px) {
    #logo {
        font-size: 200%;
    }

    #menu {
        width: auto;
    }

    #menu-expand {
        display: block;
        height: inherit;
        font-weight: bold;
        transition: background 0.2s ease, color 0.2s ease;
        float: right;
    }
    
    #logo, #menu-expand {
        font-size: 175%;
        width: 50px;
        text-align: center;
    }

    #menu-check + #menu-expand:hover,
    #menu-check + #menu-expand:focus
    {
        background: lightgray;
    }
    
    #menu-check:checked + #menu-expand,
    #menu-check:checked + #menu-expand:hover {
        color: dimgray;
        background: rgb(32, 32, 32);
    }

    #menu-check + #menu-expand + #menu {
        display: none;
    }

    #menu-check:checked + #menu-expand + #menu {
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        display: inline-block;
        height: auto;
        background: inherit;
        border-bottom: 2px solid rgb(32, 32, 32);
    }

    #menu ul {
        display: block;
    }

    #menu ul li {
        width: 100%;
    }
}